# sshd_config
# ansible-managed

Port {{ termux_ubuntu_ssh_port }}
Protocol 2

HostbasedAuthentication no
IgnoreRhosts yes
PasswordAuthentication no
ChallengeResponseAuthentication no
PermitEmptyPasswords no
PermitRootLogin {{ termux_ubuntu_root_login |bool |ternary('yes','no') }}
UsePAM no

UseDNS no
PrintMotd no
PrintLastLog no
DebianBanner no

TCPKeepAlive no
X11Forwarding no
AllowTcpForwarding no
AllowAgentForwarding no
GatewayPorts no
ClientAliveInterval 60
ClientAliveCountMax 10
RekeyLimit 1G 2h
{# LoginGraceTime 150 #}

AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server

# enable login from internal networks only
PubkeyAuthentication no
Match Address {{ termux_internal_networks |join(',') }}
    PubkeyAuthentication yes
