{# PubkeyAcceptedKeyTypes +ssh-dss #}
Subsystem sftp /data/data/com.termux/files/usr/libexec/sftp-server
Port {{ ansible_port }}
Protocol 2
{# UsePrivilegeSeparation yes #}
{# KeyRegenerationInterval 3600 #}
{# ServerKeyBits 1024 #}
{# StrictModes yes #}
IgnoreRhosts yes
{# RSAAuthentication yes #}
{# RhostsRSAAuthentication no #}
HostbasedAuthentication no
ChallengeResponseAuthentication no
PasswordAuthentication no
{# UsePAM no #}
PermitEmptyPasswords no
PermitRootLogin no
LoginGraceTime 150
PrintMotd no
{# PrintLastLog no #}
{# DebianBanner no #}
UseDNS no
TCPKeepAlive yes
ClientAliveInterval 150
ClientAliveCountMax 5
X11Forwarding {{ termux_x11 |bool |ternary('yes','no') }}
AllowTcpForwarding no
AllowAgentForwarding no
GatewayPorts no
{# enable login from internal networks only #}
PubkeyAuthentication no
Match Address {{ termux_internal_networks |join(',') }}
  PubkeyAuthentication yes
